.page {
    background-image: url("https://blog-1301073803.cos.ap-chengdu.myqcloud.com/typora/948b871a-f6cf-4779-811d-494a366a912e.jpeg");
    background-repeat: repeat-y;
    background-position: center 0;
    background-size: 1800px 900px;
}

.sidebar {
    background-color: #f8b109;
}
.navbar{
    background-color: #f8b109;
}
